// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #4267B2;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #DB4437;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #00acee;
$sky: #87ceeb;
$dark-grey: #333;
$grey3: #828282;
$font-dark-primary: rgba(0, 0, 0, 0.87);
$font-dark-secondary: rgba(0, 0, 0, 0.54);
$font-white-primary: #FFFFFF;
$google-light-primary: #e0e0e0;
$google-light-secondary: #eeeeee;
$google-light-light: #fafafa;
