button {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  outline: none;
  border: 1px solid $font-dark-secondary;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.10);
  cursor: pointer;

  &.btn-circle {
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    line-height: 1rem;
    border-radius: 50%;
  }

  &.btn-google {
    color: $font-white-primary;
    background-color: $red;
    border: none;
  }

  &.btn-facebook {
    color: $font-white-primary;
    background-color: $blue;
    border: none;
  }

  &.btn-twitter {
    color: $font-white-primary;
    background-color: $teal;
    border: none;
  }

  &.btn-teal {
    color: $font-white-primary;
    background-color: $teal;
    border: none;
  }

  &.btn-sky {
    color: $font-white-primary;
    background-color: $sky;
    border: none;
  }

  &.btn-lg {
    font-size: 1.5rem;
  }
}
