.form {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    // show success!
    &:valid {
      background: url(/img/svg/check.svg);
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 20px 20px;
    }
  }
  .form-group {
    margin: 0.5rem 0;
    position: relative;
    input, text-area {
      border: $grey3;
      border-radius: 1rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
      font-size: 1rem;
      padding: 0.5rem 1rem;
      width: 100%;
    }
    button {
      border: none;
      border-radius: 1rem;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
      font-size: 1rem;
      padding: 0.5rem 1rem;
      width: 100%;
      &[type="submit"] {
        background-color: $teal;
        color: $font-white-primary;
      }
      &.btn-teal {
        background-color: $teal;
        color: $font-white-primary;
      }
      &.btn-red {
        background-color: $red;
        color: $font-white-primary;
      }
    }
  }
  label {
    &.hidden {
      visibility: hidden;
      position: absolute;
    }
  }

}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #87ceeb77 inset;
  transition: background-color 5000s ease-in-out 0s;
}
